# Ignore build output
build/
*.exe
*.pdb
*.ilk
*.tlog/
*.obj
*.lib
*.log
*.pch
*.exp
*.sln
*.vcxproj*
# Visual Studio specific
.vs/
# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

